{% render 'partials/head.liquid', title: 'Squad page' %}

<h1>FDND Squad Cards</h1>

<section class="squad-filters">
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/name">Naam</a>
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/age">Leeftijd</a>
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/color">Favoriete kleur</a>
</section>



{% comment %} {% for person in persons %}
<a href="/student/{{ person.id }}">, <img src=" {{ person.avatar }} " alt="/student/{{ person.id }}" height="200px"
    width="200px"></a>
{% endfor %} {% endcomment %}


<section class="squad-card-section">
  <h2>Squad Cards FDND</h2>

  <article class="squad-cards">
    {% for person in persons %}
      <a href="/student/{{ person.id }}">, <img src=" {{ person.avatar }} " alt="/student/{{ person.id }}" height="200px"
          width="200px"></a>
      {% endfor %}
  </article>
</section>


<section class="squad-card-hover">

  <div class="front-card">
    <img src=" {{ person.avatar }} " alt="Renzo Wille">
    <h2>{{ person.id }}</h2>
  </div>

  <div class="back-card">
    <dt>
    <dd>{{ person.fav_color }}</dd>
    <dd>{{ person.fav_attribute }}</dd>
    <dd>{{ person.fav_tag }}</dd>
    <dd>{{ person.fav_property }}</dd>
    <dd>{{ person.fav_feature }}</dd>
    </dd>
  </div>

</section>




{% render 'partials/foot.liquid', squads: squads %}